## Import Libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

## Importing Data

In [3]:
path = r'D:\CareerFoundry\Python-Instancart Basket Analysis'
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_4-7.pkl'))

In [ ]:
ords_prods_merge.head()

In [4]:
# create a subset
df=ords_prods_merge[:1000000]

In [5]:
df.shape

(1000000, 20)

In [6]:
df.head(10)

,order_id,user_id,eval_set,order_number,order_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,3139998.0,138.0,prior,28.0,6.0,11.0,3.0,1,5.0,0.0,both,0,Chocolate Sandwich Cookies,61,19,5.8,Mid-range product,Regularly busy,Regularly busy,Most orders
1,1977647.0,138.0,prior,30.0,6.0,17.0,20.0,1,1.0,1.0,both,0,Chocolate Sandwich Cookies,61,19,5.8,Mid-range product,Regularly busy,Regularly busy,Average orders
2,389851.0,709.0,prior,2.0,0.0,21.0,6.0,1,20.0,0.0,both,0,Chocolate Sandwich Cookies,61,19,5.8,Mid-range product,Busiest day,Busiest days,Average orders
3,652770.0,764.0,prior,1.0,3.0,13.0,NaN,1,10.0,0.0,both,0,Chocolate Sandwich Cookies,61,19,5.8,Mid-range product,Regularly busy,Slowest days,Most orders
4,1813452.0,764.0,prior,3.0,4.0,17.0,9.0,1,11.0,1.0,both,0,Chocolate Sandwich Cookies,61,19,5.8,Mid-range product,Least busy,Slowest days,Average orders
5,1701441.0,777.0,prior,16.0,1.0,7.0,26.0,1,7.0,0.0,both,0,Chocolate Sandwich Cookies,61,19,5.8,Mid-range product,Regularly busy,Busiest days,Average orders
6,1871483.0,825.0,prior,3.0,2.0,14.0,30.0,1,2.0,0.0,both,0,Chocolate Sandwich Cookies,61,19,5.8,Mid-range product,Regularly busy,Regularly busy,Most orders
7,1290456.0,910.0,prior,12.0,3.0,10.0,30.0,1,1.0,0.0,both,0,Chocolate Sandwich Cookies,61,19,5.8,Mid-range product,Regularly busy,Slowest days,Most orders
8,369558.0,1052.0,prior,10.0,1.0,20.0,19.0,1,1.0,0.0,both,0,Chocolate Sandwich Cookies,61,19,5.8,Mid-range product,Regularly busy,Busiest days,Average orders
9,589712.0,1052.0,prior,15.0,1.0,12.0,15.0,1,2.0,1.0,both,0,Chocolate Sandwich Cookies,61,19,5.8,Mid-range product,Regularly busy,Busiest days,Most orders

In [7]:
df.groupby('product_name')

In [8]:
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean  min   max
department_id
1                15.577493  1.0  99.0
2                17.320781  1.0  96.0
3                16.084944  1.0  99.0
4                17.530458  1.0  99.0
5                14.763075  1.0  99.0
6                16.658449  1.0  99.0
7                17.031590  1.0  99.0
8                15.076662  1.0  98.0
9                15.447580  1.0  99.0
10               18.681852  1.0  99.0
11               15.447411  1.0  99.0
12               14.327957  1.0  99.0
13               16.548642  1.0  99.0
14               16.960241  1.0  99.0
15               16.121948  1.0  99.0
16               17.803851  1.0  99.0
17               15.593633  1.0  99.0
18               19.674252  1.0  99.0
19               16.899756  1.0  99.0
20               16.255442  1.0  99.0
21               25.535479  1.0  98.0

In [9]:
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [10]:
ords_prods_merge.head(15)

,order_id,user_id,eval_set,order_number,order_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,Unnamed: 0,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,3139998.0,138.0,prior,28.0,6.0,11.0,3.0,1,5.0,0.0,...,0,Chocolate Sandwich Cookies,61,19,5.8,Mid-range product,Regularly busy,Regularly busy,Most orders,32.0
1,1977647.0,138.0,prior,30.0,6.0,17.0,20.0,1,1.0,1.0,...,0,Chocolate Sandwich Cookies,61,19,5.8,Mid-range product,Regularly busy,Regularly busy,Average orders,32.0
2,389851.0,709.0,prior,2.0,0.0,21.0,6.0,1,20.0,0.0,...,0,Chocolate Sandwich Cookies,61,19,5.8,Mid-range product,Busiest day,Busiest days,Average orders,5.0
3,652770.0,764.0,prior,1.0,3.0,13.0,NaN,1,10.0,0.0,...,0,Chocolate Sandwich Cookies,61,19,5.8,Mid-range product,Regularly busy,Slowest days,Most orders,3.0
4,1813452.0,764.0,prior,3.0,4.0,17.0,9.0,1,11.0,1.0,...,0,Chocolate Sandwich Cookies,61,19,5.8,Mid-range product,Least busy,Slowest days,Average orders,3.0
5,1701441.0,777.0,prior,16.0,1.0,7.0,26.0,1,7.0,0.0,...,0,Chocolate Sandwich Cookies,61,19,5.8,Mid-range product,Regularly busy,Busiest days,Average orders,26.0
6,1871483.0,825.0,prior,3.0,2.0,14.0,30.0,1,2.0,0.0,...,0,Chocolate Sandwich Cookies,61,19,5.8,Mid-range product,Regularly busy,Regularly busy,Most orders,9.0
7,1290456.0,910.0,prior,12.0,3.0,10.0,30.0,1,1.0,0.0,...,0,Chocolate Sandwich Cookies,61,19,5.8,Mid-range product,Regularly busy,Slowest days,Most orders,12.0
8,369558.0,1052.0,prior,10.0,1.0,20.0,19.0,1,1.0,0.0,...,0,Chocolate Sandwich Cookies,61,19,5.8,Mid-range product,Regularly busy,Busiest days,Average orders,20.0
9,589712.0,1052.0,prior,15.0,1.0,12.0,15.0,1,2.0,1.0,...,0,Chocolate Sandwich Cookies,61,19,5.8,Mid-range product,Regularly busy,Busiest days,Most orders,20.0
10,1798115.0,1379.0,prior,1.0,5.0,11.0,NaN,1,1.0,0.0,...,0,Chocolate Sandwich Cookies,61,19,5.8,Mid-range product,Regularly busy,Regularly busy,Most orders,10.0
11,497193.0,1480.0,prior,36.0,3.0,13.0,7.0,1,1.0,0.0,...,0,Chocolate Sandwich Cookies,61,19,5.8,Mid-range product,Regularly busy,Slowest days,Most orders,43.0
12,1727826.0,1480.0,prior,38.0,4.0,13.0,7.0,1,3.0,1.0,...,0,Chocolate Sandwich Cookies,61,19,5.8,Mid-range product,Least busy,Slowest days,Most orders,43.0
13,2694698.0,1480.0,prior,39.0,2.0,12.0,12.0,1,4.0,1.0,...,0,Chocolate Sandwich Cookies,61,19,5.8,Mid-range product,Regularly busy,Regularly busy,Most orders,43.0
14,3171753.0,1494.0,prior,6.0,3.0,10.0,2.0,1,8.0,0.0,...,0,Chocolate Sandwich Cookies,61,19,5.8,Mid-range product,Regularly busy,Slowest days,Most orders,13.0

In [11]:
#Deriving Columns with loc()
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [12]:
ords_prods_merge['loyalty_flag'].value_counts(dropna=False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [15]:
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0     138.0  Regular customer          28.0
1     138.0  Regular customer          30.0
2     709.0      New customer           2.0
3     764.0      New customer           1.0
4     764.0      New customer           3.0
5     777.0  Regular customer          16.0
6     825.0      New customer           3.0
7     910.0  Regular customer          12.0
8    1052.0  Regular customer          10.0
9    1052.0  Regular customer          15.0
10   1379.0      New customer           1.0
11   1480.0    Loyal customer          36.0
12   1480.0    Loyal customer          38.0
13   1480.0    Loyal customer          39.0
14   1494.0  Regular customer           6.0
15   1494.0  Regular customer           7.0
16   1494.0  Regular customer           9.0
17   1540.0  Regular customer           4.0
18   1540.0  Regular customer           5.0
19   1540.0  Regular customer           6.0
20   1540.0  Regular customer           7.0
21   1540.0  Regular customer           8.0
22   1540.0  Regular customer           9.0
23   1540.0  Regular customer          14.0
24   1540.0  Regular customer          15.0
25   1540.0  Regular customer          18.0
26   1540.0  Regular customer          19.0
27   1540.0  Regular customer          20.0
28   1540.0  Regular customer          21.0
29   1540.0  Regular customer          22.0
30   1540.0  Regular customer          24.0
31   1540.0  Regular customer          25.0
32   1540.0  Regular customer          27.0
33   1540.0  Regular customer          28.0
34   1598.0      New customer           1.0
35   1598.0      New customer           2.0
36   1598.0      New customer           3.0
37   1647.0      New customer           1.0
38   1647.0      New customer           4.0
39   1647.0      New customer           6.0
40   1647.0      New customer           8.0
41   1647.0      New customer           9.0
42   2833.0      New customer           1.0
43   2850.0  Regular customer           7.0
44   2857.0  Regular customer          24.0
45   3010.0  Regular customer           5.0
46   3029.0      New customer           1.0
47   3395.0      New customer           4.0
48   3904.0      New customer           1.0
49   4006.0    Loyal customer           2.0
50   4006.0    Loyal customer           3.0
51   4006.0    Loyal customer           5.0
52   4006.0    Loyal customer           9.0
53   4006.0    Loyal customer          12.0
54   4122.0  Regular customer          11.0
55   4141.0      New customer           2.0
56   4343.0      New customer           1.0
57   4553.0      New customer           3.0
58   4845.0  Regular customer           6.0
59   6866.0      New customer           1.0

# Task 4.8

In [16]:
ords_prods_merge.shape

(32404859, 22)

In [17]:
ords_prods_merge.head(10)

,order_id,user_id,eval_set,order_number,order_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,3139998.0,138.0,prior,28.0,6.0,11.0,3.0,1,5.0,0.0,...,Chocolate Sandwich Cookies,61,19,5.8,Mid-range product,Regularly busy,Regularly busy,Most orders,32.0,Regular customer
1,1977647.0,138.0,prior,30.0,6.0,17.0,20.0,1,1.0,1.0,...,Chocolate Sandwich Cookies,61,19,5.8,Mid-range product,Regularly busy,Regularly busy,Average orders,32.0,Regular customer
2,389851.0,709.0,prior,2.0,0.0,21.0,6.0,1,20.0,0.0,...,Chocolate Sandwich Cookies,61,19,5.8,Mid-range product,Busiest day,Busiest days,Average orders,5.0,New customer
3,652770.0,764.0,prior,1.0,3.0,13.0,NaN,1,10.0,0.0,...,Chocolate Sandwich Cookies,61,19,5.8,Mid-range product,Regularly busy,Slowest days,Most orders,3.0,New customer
4,1813452.0,764.0,prior,3.0,4.0,17.0,9.0,1,11.0,1.0,...,Chocolate Sandwich Cookies,61,19,5.8,Mid-range product,Least busy,Slowest days,Average orders,3.0,New customer
5,1701441.0,777.0,prior,16.0,1.0,7.0,26.0,1,7.0,0.0,...,Chocolate Sandwich Cookies,61,19,5.8,Mid-range product,Regularly busy,Busiest days,Average orders,26.0,Regular customer
6,1871483.0,825.0,prior,3.0,2.0,14.0,30.0,1,2.0,0.0,...,Chocolate Sandwich Cookies,61,19,5.8,Mid-range product,Regularly busy,Regularly busy,Most orders,9.0,New customer
7,1290456.0,910.0,prior,12.0,3.0,10.0,30.0,1,1.0,0.0,...,Chocolate Sandwich Cookies,61,19,5.8,Mid-range product,Regularly busy,Slowest days,Most orders,12.0,Regular customer
8,369558.0,1052.0,prior,10.0,1.0,20.0,19.0,1,1.0,0.0,...,Chocolate Sandwich Cookies,61,19,5.8,Mid-range product,Regularly busy,Busiest days,Average orders,20.0,Regular customer
9,589712.0,1052.0,prior,15.0,1.0,12.0,15.0,1,2.0,1.0,...,Chocolate Sandwich Cookies,61,19,5.8,Mid-range product,Regularly busy,Busiest days,Most orders,20.0,Regular customer

In [18]:
ords_prods_merge.groupby('product_name')

In [19]:
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean  min   max
department_id
1                15.457838  1.0  99.0
2                17.277920  1.0  99.0
3                17.170395  1.0  99.0
4                17.811403  1.0  99.0
5                15.215751  1.0  99.0
6                16.439806  1.0  99.0
7                17.225802  1.0  99.0
8                15.340650  1.0  99.0
9                15.895474  1.0  99.0
10               20.197148  1.0  99.0
11               16.170638  1.0  99.0
12               15.887671  1.0  99.0
13               16.583536  1.0  99.0
14               16.773669  1.0  99.0
15               16.165037  1.0  99.0
16               17.665606  1.0  99.0
17               15.694469  1.0  99.0
18               19.310397  1.0  99.0
19               17.177343  1.0  99.0
20               16.473447  1.0  99.0
21               22.902379  1.0  99.0

Q3. The subset is 1million rows compare to the full dataframe for 32millions rows of data. depite of the huge data difference, the mean of each department_id are similar.

In [20]:
ords_prods_merge[['user_id', 'loyalty_flag', 'price_range_loc']].head(60)

    user_id      loyalty_flag    price_range_loc
0     138.0  Regular customer  Mid-range product
1     138.0  Regular customer  Mid-range product
2     709.0      New customer  Mid-range product
3     764.0      New customer  Mid-range product
4     764.0      New customer  Mid-range product
5     777.0  Regular customer  Mid-range product
6     825.0      New customer  Mid-range product
7     910.0  Regular customer  Mid-range product
8    1052.0  Regular customer  Mid-range product
9    1052.0  Regular customer  Mid-range product
10   1379.0      New customer  Mid-range product
11   1480.0    Loyal customer  Mid-range product
12   1480.0    Loyal customer  Mid-range product
13   1480.0    Loyal customer  Mid-range product
14   1494.0  Regular customer  Mid-range product
15   1494.0  Regular customer  Mid-range product
16   1494.0  Regular customer  Mid-range product
17   1540.0  Regular customer  Mid-range product
18   1540.0  Regular customer  Mid-range product
19   1540.0  Regular customer  Mid-range product
20   1540.0  Regular customer  Mid-range product
21   1540.0  Regular customer  Mid-range product
22   1540.0  Regular customer  Mid-range product
23   1540.0  Regular customer  Mid-range product
24   1540.0  Regular customer  Mid-range product
25   1540.0  Regular customer  Mid-range product
26   1540.0  Regular customer  Mid-range product
27   1540.0  Regular customer  Mid-range product
28   1540.0  Regular customer  Mid-range product
29   1540.0  Regular customer  Mid-range product
30   1540.0  Regular customer  Mid-range product
31   1540.0  Regular customer  Mid-range product
32   1540.0  Regular customer  Mid-range product
33   1540.0  Regular customer  Mid-range product
34   1598.0      New customer  Mid-range product
35   1598.0      New customer  Mid-range product
36   1598.0      New customer  Mid-range product
37   1647.0      New customer  Mid-range product
38   1647.0      New customer  Mid-range product
39   1647.0      New customer  Mid-range product
40   1647.0      New customer  Mid-range product
41   1647.0      New customer  Mid-range product
42   2833.0      New customer  Mid-range product
43   2850.0  Regular customer  Mid-range product
44   2857.0  Regular customer  Mid-range product
45   3010.0  Regular customer  Mid-range product
46   3029.0      New customer  Mid-range product
47   3395.0      New customer  Mid-range product
48   3904.0      New customer  Mid-range product
49   4006.0    Loyal customer  Mid-range product
50   4006.0    Loyal customer  Mid-range product
51   4006.0    Loyal customer  Mid-range product
52   4006.0    Loyal customer  Mid-range product
53   4006.0    Loyal customer  Mid-range product
54   4122.0  Regular customer  Mid-range product
55   4141.0      New customer  Mid-range product
56   4343.0      New customer  Mid-range product
57   4553.0      New customer  Mid-range product
58   4845.0  Regular customer  Mid-range product
59   6866.0      New customer  Mid-range product

In [21]:
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

Q5. Loyal customers have the lowest average spending power and new customers have the highest spending power.

In [22]:
#Q6 create a new column based on average spending per order_id
ords_prods_merge['spending_power'] = ords_prods_merge.groupby(['order_id'])['prices'].transform(np.mean)

In [23]:
#Deriving Columns with loc()
ords_prods_merge.loc[ords_prods_merge['spending_power'] < 10, 'Spender_flag'] = 'Low spender'
ords_prods_merge.loc[ords_prods_merge['spending_power'] >= 10, 'Spender_flag'] = 'High spender'

In [24]:
ords_prods_merge['Spender_flag'].value_counts(dropna=False)

Low spender     30698061
High spender     1706798
Name: Spender_flag, dtype: int64

Most of the orders are low spender.

In [25]:
#Q7 create a new column based on the medium of "days_since_prior_order"
ords_prods_merge['frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [26]:
#Deriving Columns with loc()
ords_prods_merge.loc[ords_prods_merge['frequency'] > 20, 'frequency_flag'] = 'Non-frequent customer'
ords_prods_merge.loc[(ords_prods_merge['frequency'] <= 20) & (ords_prods_merge['frequency'] > 10), 'frequency_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['frequency'] <= 10, 'frequency_flag'] = 'frequent customer'

In [27]:
ords_prods_merge['frequency_flag'].value_counts(dropna=False)

frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: frequency_flag, dtype: int64

Majority of the customers are frequent customers.

 ## Downsizing file for Task 4.9 part 1

In [28]:
ords_prods_merge.head(5)

,order_id,user_id,eval_set,order_number,order_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,spending_power,Spender_flag,frequency,frequency_flag
0,3139998.0,138.0,prior,28.0,6.0,11.0,3.0,1,5.0,0.0,...,Mid-range product,Regularly busy,Regularly busy,Most orders,32.0,Regular customer,6.980000,Low spender,8.0,frequent customer
1,1977647.0,138.0,prior,30.0,6.0,17.0,20.0,1,1.0,1.0,...,Mid-range product,Regularly busy,Regularly busy,Average orders,32.0,Regular customer,8.475000,Low spender,8.0,frequent customer
2,389851.0,709.0,prior,2.0,0.0,21.0,6.0,1,20.0,0.0,...,Mid-range product,Busiest day,Busiest days,Average orders,5.0,New customer,7.909677,Low spender,8.0,frequent customer
3,652770.0,764.0,prior,1.0,3.0,13.0,NaN,1,10.0,0.0,...,Mid-range product,Regularly busy,Slowest days,Most orders,3.0,New customer,5.194737,Low spender,9.0,frequent customer
4,1813452.0,764.0,prior,3.0,4.0,17.0,9.0,1,11.0,1.0,...,Mid-range product,Least busy,Slowest days,Average orders,3.0,New customer,4.965000,Low spender,9.0,frequent customer

In [29]:
ords_prods_merge.dtypes

order_id                   float64
user_id                    float64
eval_set                    object
order_number               float64
order_day_of_the_week      float64
order_hour_of_day          float64
days_since_prior_order     float64
product_id                   int64
add_to_cart_order          float64
reordered                  float64
_merge                    category
Unnamed: 0                   int64
product_name                object
aisle_id                     int64
department_id                int64
prices                     float64
price_range_loc             object
busiest_day                 object
busiest_days                object
busiest_period_of_day       object
max_order                  float64
loyalty_flag                object
spending_power             float64
Spender_flag                object
frequency                  float64
frequency_flag              object
dtype: object

In [30]:
ords_prods_merge['order_number'] = ords_prods_merge['order_number'].astype('int8')
ords_prods_merge['order_day_of_the_week'] = ords_prods_merge['order_day_of_the_week'].astype('int8')
ords_prods_merge['order_hour_of_day'] = ords_prods_merge['order_hour_of_day'].astype('int8')
ords_prods_merge['days_since_prior_order'] = ords_prods_merge['days_since_prior_order'].astype('float16')

In [31]:
ords_prods_merge['product_id'] = ords_prods_merge['product_id'].astype('int32')
ords_prods_merge['add_to_cart_order'] = ords_prods_merge['add_to_cart_order'].astype('int8')
ords_prods_merge['reordered'] = ords_prods_merge['reordered'].astype('int8')

In [32]:
ords_prods_merge['aisle_id'] = ords_prods_merge['aisle_id'].astype('int32')
ords_prods_merge['department_id'] = ords_prods_merge['department_id'].astype('int32')
ords_prods_merge['prices'] = ords_prods_merge['prices'].astype('float32')
ords_prods_merge['max_order'] = ords_prods_merge['max_order'].astype('int8')

In [33]:
ords_prods_merge['spending_power'] = ords_prods_merge['spending_power'].astype('float32')
ords_prods_merge['frequency'] = ords_prods_merge['frequency'].astype('float32')

In [34]:
ords_prods_merge.dtypes

order_id                   float64
user_id                    float64
eval_set                    object
order_number                  int8
order_day_of_the_week         int8
order_hour_of_day             int8
days_since_prior_order     float16
product_id                   int32
add_to_cart_order             int8
reordered                     int8
_merge                    category
Unnamed: 0                   int64
product_name                object
aisle_id                     int32
department_id                int32
prices                     float32
price_range_loc             object
busiest_day                 object
busiest_days                object
busiest_period_of_day       object
max_order                     int8
loyalty_flag                object
spending_power             float32
Spender_flag                object
frequency                  float32
frequency_flag              object
dtype: object

In [35]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_4-8.pkl'))